$main_color: #26233e;
// body
$body_background: #eee;
/*Header Start*/
// header large
$header_background: #fff;
$header_link: #333;
$header_logo: #26233e;
$header_link_hover: #f6f6f6;
$header_link_active_background: #26233e;
$header_link_active_color: #fff;

// header mobile
$toggler_btn: #26233e;
$toggler_btn_icon: #fff;
$menu_background: #fff;
/*Header End*/
/*Landing Start*/
$landing_background: #26233e;
/*Landing End*/
