@import "./mixins";
@import "./colors";
@import "./header";
@import "./Sidebar";

$hash_icon: 2px;

.switch {
  position: relative;
  display: block;
  span {
    --icon_size: 28px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    background-color: #ccc;
    width: 100%;
    height: 100%;
    border-radius: 8rem;
    transition: background-color 0.3s ease;
    &.small_icon {
      --icon_size: 24px;
    }
    &::before {
      position: absolute;
      content: "";
      background-color: #fff;
      border-radius: 50%;
      left: $hash_icon;
      top: 50%;
      transform: translateY(-50%);
      transition: left 0.5s ease, transform 0s;
    }
  }

  input {
    display: none;
    &:checked + span {
      background-color: #ff0063;

      &::before {
        background-color: #fff;
        left: calc(100% - var(--icon_size) - $hash_icon);
      }
    }
  }
}
.success {
  background-color: #659a64;
}
// @import "./consts";
// @import "./sizes";
// @import "./footer";
// @import "./admin/login";
// @import "./Home/about";
// @import "./Home/contact";
// @import "./Home/landing";
// @import "./Home/service";
// @import "./Home/work";
// @import "./Home/workPage";
// @import "./admin/Additem";
// @import "./admin/Edititem";
// @import "./admin/Removeitem";
// @import "./card";
// @import "./admin/profile";
// @import "./admin/alert";

// :root {
//   --body_background: #{$body_background};
// }
// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }
// html {
//   scroll-behavior: smooth;
// }
// body {
//   background-color: var(--body_background);
//   font-family: "Lato", sans-serif;
// }
